* {
    padding: 0;
    margin: 0;
    border: 0
}
.logo {
    color: #D2872C;
    font-size: 30px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    text-decoration: none;
}
.menu{
    display: flex;    
    justify-content: space-between;
    max-width: 960px;
    margin: 60px auto 0 auto;
    flex-wrap: wrap;
}
.list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.link{
    font-size: 24px;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: #766F68;
    display: block;
    padding: 0 20px;
}
h1 {
    font-family: Roboto, sans-serif;
    font-size:70px;
    color: #766F68;
    margin-top:80px;
    
}
h2 {
    font-family: Roboto, sans-serif;
    color:#766F68;
    font-size: 30px;
    font-weight: normal;
    margin-top:60px;
}
button{
    font-family: Roboto, sans-serif;
    font-size: 25px;
    font-weight:bold;
    color:white;
    background-color:#D2872C;
    margin-top: 60px;
    padding: 20px 80px 15px 80px;
    border-radius: 14px;
}
img{
    max-width: 64%;
    height: auto;
    margin:95px 0 0 460px;
}
#container{
    display: flex;
}
#text{
    margin-left: 80px;
    position: absolute;
}