*,
*::before,
*::after {
    box-sizing: border-box;
}

/* VARIÁVEIS */
:root{
    --ff-primary: "roboto", sans-serif;
    --cor-laranja: #D2872C;
    --cor-cinza: #766F68;
}

/******************************/
/* ESTILOS GERAIS            */
/*****************************/
img {
    display: block;
    max-width: 100%;
}

/******************************/
/* MENU                      */
/*****************************/
.menu {
    font-family: var(--ff-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 50px;
    flex-wrap: wrap;
}
.menu_logo {
    font-size: 30px;
    padding: 10px;
}
.nav_link {
    padding: 20px 10px;
    text-decoration: none;
    color: var(--cor-cinza);
}
.logo_link {
    text-decoration: none;
    color: var(--cor-laranja);
    font-weight: bold;
}
.nav_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
/******************************/
/* CORPO                      */
/*****************************/
section div {
    font-family: var(--ff-primary);
    color: var(--cor-cinza);
    font-size: 18px;
    padding: 0 30px
}
.container {
    position:relative;
    left:150px;
}
.container_c {
    max-width: 860px;
    display: flex;
}
.container_text {
    position: absolute;
}
.img {
    margin-top: 90px;
    margin-left: 280px;
    max-width: 750px;
    max-height: 420px;
}
.titulo1 {
    margin-top: 90px;
    font-size: 52px;
}
.titulo2 {
    font-size: 22.5px;
    font-weight: normal;
}
.container_button {
    background-color:var(--cor-laranja);
    color:#FFF;
    border: none;
    text-align: center;
    margin-top:30px;
    padding: 15px 65px;
    font-size:25px;
    border-radius: 10px;
}